textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.text-source {
    flex-grow: 3;
    height: 75px;
    margin-right: 8px;
}

.search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search input {
  flex-grow: 1;
}

.search input,
.search button {
    width: 100%;
    box-sizing: border-box;
}

.search-btn {
}

main {
    font-family: 'Orbitron', sans-serif;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
}

.trie-section {
    flex: 1;
    height: 50vh;
    text-align: center;
}

svg {
    height: 100%;
    width: 100%;
}

svg text {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px
}

.controls-section {
    display: flex;
    justify-content: space-between;
}

.grey-out g:not(.found) text {
    fill: #eee;
}

.grey-out g:not(.found) line,
.grey-out g:not(.found) circle {
    stroke: #ccc;
}

.found circle {
    opacity: 1;
}

.path circle,
.rest circle,
.mask circle {
    transform-origin: center;
    transform: scale(1.2);
    filter: url(#dropShadow);
}

.path line,
.rest line,
.mask line {
    stroke-width: 3px;
}

.path circle {
  stroke: blue;
}

.rest circle {
  stroke: green;
}

.mask circle {
  stroke: red;
}
