body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.app-root {
    display: flex;
    flex-direction: column;
}

.app-header {
    display: flex;
    height: 75px;
}

.trie-source-text {
    position: relative;
    flex: 5;
    display: flex;
    margin-top: auto;
    margin-right: 20px;
    margin-left: 20px;
}

.trie-source-text__input {
    flex: 1;
    border: none;
    border-bottom: 2px solid #4390bc;
    padding: 5px 30px 5px 5px;
    font-size: 20px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-family: 'Open Sans', sans-serif;
}

.trie-source-text__btn {
    width: 39px;
    border: 2px solid #4390bc;
    background: none;
    padding: 0 6px;
    cursor: pointer;
}

.trie-source-text__btn:hover {
    border: 2px solid #406e97;
    background-color: #406e97;
}

.trie-source-text__btn:active {
    border: 2px solid #2F4A64;
    background-color: #2F4A64;
}

.trie-source-text__btn:hover circle {
    fill: white;
}

svg.trie-search__icon circle {
    fill: white;
}

.trie-search {
    margin-top: auto;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    flex: 1;
}

.trie-search__input:focus + svg,
.trie-search:hover * {
    stroke: #406e97;
}

.trie-search__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #4390bc;
    padding: 5px 30px 5px 5px;
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.trie-search__icon {
    position: absolute;
    right: 3px;
    top: 7px;
    height: 24px;
    width: 24px;
}

.trie-svg {
    height: 100%;
    width: 100%;
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.source-text-dialog {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 250px);
    width: 500px;
    background-color: white;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.source-text-dialog-close {
    position:relative;
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.source-text-dialog-close::before,
.source-text-dialog-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 22px;
    height: 2px;
    background-color: #4390bc;
    border-radius: 1px;
}

.source-text-dialog-close::before {
    transform: rotate(45deg);
}

.source-text-dialog-close::after {
    transform: rotate(-45deg);
}

.source-text-dialog__header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.source-text-dialog__content {
    padding: 0 30px 10px 30px;
}

.source-text-dialog__content textarea {
    border: 1px solid #ccc;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    resize: none;
}

.source-text-dialog__content label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #4390bc;
}

.source-text-dialog__bottom {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.dialog-btn {
    padding: 10px 20px;
    border: none;
    background-color: #4390bc;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.dialog-btn:hover {
    background-color: #406e97;
}

.dialog-btn:active {
    background-color: #2F4A64;
}

.trie-svg circle {
    fill: #4390bc;
    stroke: #4390bc;
    transform-origin: center;
}

.trie-svg line {
    stroke: #4390bc;
}

.trie-svg text {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    fill: white;
}

.grey-out g:not(.found) text {
    fill: #eee;
}

.grey-out g:not(.found) line,
.grey-out g:not(.found) circle {
    stroke: #8dbdd8;
    fill: #8dbdd8;
}

.looser text {
    fill: #eee;
}

.looser line,
.looser circle {
    stroke: #8dbdd8;
    fill: #8dbdd8;
}

.found circle {
    opacity: 1;
}

.word-target {
    color: red;
}

.path line,
.rest line,
.mask line {
    /*stroke: #43990F;*/
    stroke: #650000;
    fill: #43990F;
}

.path circle,
.rest circle,
.mask circle {
    /*transform: scale(1.2);*/
    /*transition-property: filter;*/
    /*transition-duration: .5s;*/
}

.path line,
.rest line,
.mask line {
    stroke-width: 2px;
}

.rest circle,
.path circle {
    /*stroke: #43990F;*/
    stroke: #650000;
    stroke-width: 4;
    fill: white;
    /*fill: #43990F;*/
}

.rest text,
.path text {
    fill: #650000;
}

.mask circle {
    stroke: #650000;
    fill: #650000;
}

.root {
    height: 99vh;
}

.app-root {
    height: 100%;
}