.container {
    margin-top: auto;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    flex: 1;
}

.input:focus + svg,
.container:hover * {
    stroke: #406e97;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #4390bc;
    padding: 5px 30px 5px 5px;
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.icon {
    position: absolute;
    right: 3px;
    top: 7px;
    height: 24px;
    width: 24px;
}

.icon circle {
    fill: white;
}

.cross {
    cursor: pointer;
}